@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
    background:#f8fafc;
    font-family:Inter,sans-serif;
    transition: background-color 0.2s ease;
}

.dark body{
    background:#0f172a;
}